<div class="neu-card">
  <div class="neu-card-header ml-0 new-group-header">
    <button class="neu-button neu-button-danger neu-button-back" (click)="back()">Back</button>
    <h4 class="ml-3">New Group...
    </h4>
  </div>
  <div>
    <form (ngSubmit)="makeGroup()" [formGroup]="groupForm">
      <label for="groupName">Name: </label><br>
      <input id="groupName" type="text" formControlName="name" placeholder="Group name...">
      <br><br>
      <label for="groupDesc">Description: </label><br>
      <input id="groupDesc" type="text" formControlName="desc" placeholder="Group Description...">
      <br><br>
      <button type="submit" class="neu-button neu-button-success float-right" style="width: 80px">Create</button>
    </form>
  </div>
</div>
