<div class="neu-card">
  <div class="manage-header row mx-1 align-items-center">
    <button class="neu-button neu-button-danger ml-2 px-2" style="width: auto;" (click)="back()">Back</button>
    <h4 class="ml-3 mb-0">{{group?.name}}</h4>
  </div>
  <hr class="mt-1 ml-0">
  <div>
    <form (ngSubmit)="save()" [formGroup]="details">
      <div class="manage-form mb-3">
        <label for="groupName">Name: </label>&nbsp;
        <input id="groupName" type="text" formControlName="groupName">
        <br><br>
        <label for="groupDesc">Description: </label><br>
        <div class="angular-editor-wrapper">
          <angular-editor id="groupDesc" class="" formControlName="groupDesc" [config]="descConfig"></angular-editor>
        </div>
        <br>
<!--      <label for="groupMembers">Members: </label><br>-->
<!--      <type-ahead class="col-12 border" id="groupMembers" formControlName="groupMembers"-->
<!--                  [complex]="true" [multi]="true" [suggestions]="profiles"-->
<!--                  [idField]="'_id'" [nameField]="'fullName'"></type-ahead>-->
<!--      <br><br>-->
<!--      <label for="groupAdmins">Admins: </label><br>-->
<!--      <type-ahead class="col-12 border" id="groupAdmins"-->
<!--                  formControlName="groupAdmins" [complex]="true" [multi]="true"-->
<!--                  [suggestions]="profiles" [idField]="'_id'" [nameField]="'fullName'"></type-ahead>-->
<!--      <hr class="m-0 mb-1">-->
      </div>
      <div class="manage-footer justify-content-end row mr-2">
        <button type="submit" class="neu-button neu-button-success px-2" style="width: auto">Save</button>
      </div>
    </form>
  </div>
</div>
