<div *ngFor="let post of posts" class="post">
  <div class="neu-card">
    <div class="neu-card-header mb-2">
      <h3 class="post-title">{{post.title}}</h3>
    </div>
    <div class="neu-card-body post-body" [innerHTML]="post.body">
    </div>
  </div>
  <div class="poster-info mt-3 d-flex">
    <div class="neu-circle-img ml-2">
      <img class="poster-photo" src="../../../assets/nathan.jpg" alt="profile photo">
    </div>
    <span class="poster-name ml-2">Nathan Fillion</span>
  </div>
</div>

