<header>
  <a routerLink=""><h1>ASOZI8</h1></a>
</header>
<main>
  <div *ngIf="loggedIn">
    <app-nav (logoutClicked)="loggedIn = false"></app-nav>
      <router-outlet></router-outlet>
  </div>
  <div *ngIf="!loggedIn">
    <div class="neu-card login" *ngIf="!signup">
      <div class="neu-card-header">
        <h3>Log In</h3>
      </div>
        <div class="neu-card-body">
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-field">
              <input id="email" class="neu-input" type="text" formControlName="email" placeholder=" ">
              <label for="email">Email</label>
            </div>
            <div class="form-field">
              <input id="password" class="neu-input" type="password" formControlName="password" placeholder=" ">
              <label for="password">Password</label>
            </div>
            <div class="row justify-content-around">
              <button class="neu-btn col-5" type="reset" (click)="signup = true">Sign Up</button>
              <button class="neu-btn col-5" type="submit">Log In</button>
            </div>
          </form>
        </div>
    </div>
    <div class="neu-card signup" *ngIf="signup">
      <div class="neu-card-header">
        <h3>Create an Account</h3>
      </div>
      <div class="neu-card-body">
        <form (ngSubmit)="createAccount()" [formGroup]="signupForm">
          <div class="form-group">
            <div class="form-field">
              <input class="neu-input" id="firstname" type="text" formControlName="firstName" placeholder=" ">
              <label for="firstname">First Name</label>
            </div>
            <div class="form-field">
              <input class="neu-input" id="lastname" type="text" formControlName="lastName" placeholder=" ">
              <label for="lastname">Last Name</label>
            </div>
          </div>
          <div>
          <div class="form-field">
            <input id="signupEmail" class="neu-input" type="text" formControlName="email" placeholder=" ">
            <label for="signupEmail">Email</label>
          </div>
          <div class="form-field">
            <input id="signupPassword" class="neu-input" type="password" formControlName="password" placeholder=" ">
            <label for="signupPassword">Password</label>
          </div>
          </div>
          <div class="row justify-content-around">
            <button class="neu-btn col-5" type="reset" (click)="signup = false">Cancel</button>
            <button class="neu-btn col-5" type="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<!--    <mat-card class="col-3" *ngIf="signup">-->
<!--      <form (ngSubmit)="createAccount()" [formGroup]="signupForm">-->

<!--        <label for="firstname">First Name:</label>-->
<!--        <input id="firstname" type="text" formControlName="firstName">-->
<!--        <br><br>-->
<!--        <label for="lastname">Last Name:</label>-->
<!--        <input id="lastname" type="text" formControlName="lastName">-->
<!--        <br><br>-->
<!--        <label for="creationEmail">email:</label><br>-->
<!--        <input id="creationEmail" type="text" formControlName="email">-->
<!--        <br><br>-->
<!--        <label for="creationPassword">Password:</label>-->
<!--        <input id="creationPassword" type="text" formControlName="password">-->
<!--        <br><br>-->
<!--        <button type="submit" class="btn btn-success">Create Account</button>&nbsp;<button class="btn btn-danger" (click)="signup = false">Cancel</button>-->
<!--      </form>-->
<!--    </mat-card>-->

<!--  </div>-->
