a, a:hover, a:visited, a:default {
  text-decoration: none;
  color: black;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  background-color: #ddd8db;
}

header h1 {
  padding-left: 30px;
}

header:after {
  content:'';
  display: block;
  position: absolute;
  z-index: 999;
  bottom: -3px;
  width: 100%;
  height: 7px;
  background: rgb(25,235,120);
  background: -moz-linear-gradient(270deg, rgba(25,235,120,1) 0%, rgba(40,206,168,1) 6%, rgba(134,23,40,1) 20%, rgba(141,39,40,1) 30%, rgba(188,143,41,1) 46%, rgba(195,139,38,1) 50%, rgba(139,32,40,1) 66%, rgba(126,7,40,1) 71%, rgba(191,28,22,1) 80%, rgba(230,34,23,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(25,235,120,1) 0%, rgba(40,206,168,1) 6%, rgba(134,23,40,1) 20%, rgba(141,39,40,1) 30%, rgba(188,143,41,1) 46%, rgba(195,139,38,1) 50%, rgba(139,32,40,1) 66%, rgba(126,7,40,1) 71%, rgba(191,28,22,1) 80%, rgba(230,34,23,1) 100%);
  background: linear-gradient(270deg, rgba(25,235,120,1) 0%, rgba(40,206,168,1) 6%, rgba(134,23,40,1) 20%, rgba(141,39,40,1) 30%, rgba(188,143,41,1) 46%, rgba(195,139,38,1) 50%, rgba(139,32,40,1) 66%, rgba(126,7,40,1) 71%, rgba(191,28,22,1) 80%, rgba(230,34,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19eb78",endColorstr="#e62217",GradientType=1);
}

main {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  padding-left: 150px;
  z-index: 1;
}

.login-wrapper, .signup-wrapper {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.signup .neu-card-body form{
  //height: 100%;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
}
