/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Angular Material CSS file. */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./assets/__theme.scss";

html, body {
  height:100%;
  background-color: $background-color;
}

* {
  color: #071a3e;
}

.neu-card {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -3px -3px 10px $highlight-color,
              3px 3px 5px $shadow-color;
}

.neu-card-header {
  margin: 0 0 20px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.neu-card-header h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.neu-circle-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: -5px -5px 7px $highlight-color,
  5px 5px 7px $shadow-color;
}

.neu-circle-img:after {

}

.form-group {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.form-group .form-field:not(:last-child) {
  //margin-right: 10px;
}

.form-field {
  margin: 10px 0;
  height: 50px;
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  display: flex;
  position: relative;
}

.form-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  pointer-events: none;
  color: #666;
  transform: translateY(-50%);
}

.form-field input:not(:placeholder-shown) ~ label {
  opacity: 0;
}

input.neu-input {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  border: none;
  color: #111;
  background: inherit;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px $shadow-color,
  inset -5px -5px 10px $highlight-color;
}

input:focus {
  outline: none;
}

.login button.neu-btn, .signup button.neu-btn {
  position: relative;
  margin: 15px 0 0 0;
  height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 5px $shadow-color,
              -4px -4px 5px $highlight-color;
}

@keyframes btn-hover {
  from {width: 0; left: 50%;}
  to {width: 70%; left: 15%;}
}

button.neu-btn:hover:after {
  position: absolute;
  bottom: 10px;
  content: ' ';
  width: 70%;
  left: 15%;
  height: 3px;
  background: rgb(216,61,223);
  background: linear-gradient(270deg, rgba(216,61,223,1) 0%, rgba(230,34,23,1) 100%);
  animation-name: btn-hover;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
}

.neu-list {
  margin: 15px 0;

}

.neu-list-item {
  display: block;
  height: 50px;
  border: 1px solid black;
}

.neu-list-item a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: inherit;
}

.neu-list {
  list-style: none;
  text-decoration: none;
}
